::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: #cacaca;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

#botManAreaWrap{
    max-height: calc(100%);
}