span.fa-edit, span.fa-delete {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: block;
    float: left;
    padding-left: 10px;
}

span.fa-edit{
    background-image: url(../images/fa-edit.png);
}

span.fa-delete{
    background-image: url(../images/fa-delete.png);
}

